@theme {
  --color-tag-yellow: #fdecc8;
  --color-tag-green: #dbeddb;
  --color-tag-blue: #d3e5ef;
  --color-tag-pink: #f5e0e9;
  --color-tag-purple: #e8deee;
  --color-tag-gray: #e3e2e0;
  --color-tag-red: #ffe2dd;
  --color-tag-orange: #fadec9;
  --color-tag-brown: #eee0da;

  --color-primary-purple: #E9DDEE;
  --color-secondary-purple: #DECCE6;
  --color-accent-purple: #78468C;
  --color-dark-accent-purple: #663D75;
}
